<h2>Discussion</h2>

<span class="comment-count"></span>

<ul class="comment-list"></ul>

<a href="#" class="see-all-comments">See all <span class="comment-count"></span></a>

<div class="comment-form form">
  <div id="respond" class="comment-respond">

    <h3 id="reply-title" class="comment-reply-title">Reply to <a href="#" class="reply-to-name">Rishi</a>
    </h3>

    <form action="http://laybabylay.com/wp-comments-post.php" method="post" id="commentform">

      <p class="comment-complete">Thank you for posting a comment!</p>

      <textarea class="form-area" name="comment" placeholder="Join the conversation!"></textarea>

      <label for="author">Name</label>
      <input class="form-input" type="text" name="author" placeholder="What’s your name?" value="">

      <label for="email">Email</label>
      <input class="form-input" type="email" name="email" placeholder="What’s your email address?" value="">

      <label for="url">Website</label>
      <input class="form-input" type="text" name="url" placeholder="What's your website url? (optional)" value="">

<!--       <label for="comment">Comment</label>
 -->

      <p class="form-submit">
        <input name="submit" type="submit" id="submit" value="Submit">
      </p>

      <a href="#" class="cancel pull-right">cancel</a>

    </form>
  </div>
</div>
