

<div class="navigation-wrapper container">

  <hgroup id="logo">
    <a href="/">
      <h1>
        <span class="hide">Lay Baby Lay - Nursery Inspiration and Baby Room Ideas</span>
      </h1>
    </a>
  </hgroup>


  <nav id="navigation">

    <span class="right-nav">

      <button class="icon-menu">
        <span class="hide">Open Navigation</span>
      </button>

    </span>

  </nav>

  <div id="search">

    <form action="/search" class="search-form" id="search-header-form" role="search" onsubmit="return false;">

      <input autocapitalize="off" autocomplete="off" autocorrect="off" class="search-input" id="search-input" name="query" placeholder="Search" tabindex="1" type="search" onkeydown="if (event.keyCode == 13) { event.preventDefault(); }">

      <button class="icon-search search-show">
        <span class="hide">Search</span>
      </button>

      <button class="icon-close search-clear">
        <span class="hide">Clear</span>
      </button>

      <div class="load-indicator">
        <div class="circle-1"></div>
        <div class="circle-2"></div>
        <span class="hide">Loading</span>
      </div>

    </form>

  </div>

</div>

<div class="search-filters-region"></div>

<div class="search-cover"></div>
