<section id="post-region" class="swiper-container"></section>

<!-- <section class="container">

	<div class="search-colors">

		<h2 class="align-center"><small>Search your favorite color</small></h2>

		<div class="search-colors-region"></div>

	</div>

</section> -->

<div id="about-widget" class="mobile">

  <a class="headshot" href="/about" title="About Lay Baby Lay">Joni Lay</a>

  <div class="social-links">

    <a class="facebook" href="https://www.facebook.com/laybabylay" target="_blank">Facebook</a>
    <a class="pinterest" href="http://www.pinterest.com/laybabylay/" target="_blank">Pinterest</a>
    <a class="instagram-icon" href="http://instagram.com/laybabylay/" target="_blank">Instagram</a>
    <a class="bloglovin" href="http://www.bloglovin.com/blog/2302038" target="_blank">Blog Lovin</a>
    <a class="rss" href="http://feeds.feedburner.com/laybabylay/xINt" target="_blank">RSS</a>
    <a class="twitter" href="https://twitter.com/laybabylay" target="_blank">Twitter</a>

  </div>

  <div class="links">

    <a class="about-link" href="/about">about joni</a> | <a href="http://society6.com/jonilay" class="print-shop" target="_blank">print shop</a>

  </div>

  <div class="email-signup">

    <form action="//laybabylay.us3.list-manage.com/subscribe/post?u=fdeae0ed89c10e09597447b4b&amp;id=30ae3cf548" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

      <label for="mce-EMAIL">weekly inbox inspiration:</label>

      <div class="field-wrapper">
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_fdeae0ed89c10e09597447b4b_30ae3cf548" tabindex="-1" value=""></div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>

  </form>

  </div>

</div>

<section id="menu">

  <div class="menu-items">

    <div class="menu-box about">

      <a href="/about">

        <span class="subtitle">say hello!</span>
        <span class="title">About</span>

      </a>

    </div>

    <div class="menu-box shop">

      <a href="http://society6.com/jonilay" target="_blank">

        <span class="subtitle">laybabylay originals</span>
        <span class="title">Shop</span>

      </a>

    </div>

    <div class="menu-box portfolio">

      <a href="/search/posts/tagged/portfolio">

        <span class="subtitle">a sampling of favorites</span>
        <span class="title">Portfolio</span>

      </a>

    </div>

    <div class="menu-box pinterest">

      <a href="https://pinterest.com/laybabylay" target="_blank">

        <span class="subtitle">pin me up, before you go-go</span>
        <span class="title">Pinterest</span>

      </a>

    </div>

    <div class="menu-box instagram">

      <a href="https://instagram.com/laybabylay" target="_blank">

        <span class="subtitle">everyday inspiration</span>
        <span class="title">Instagram</span>

      </a>

    </div>

    <div class="menu-box facebook">

      <a href="https://facebook.com/laybabylay" target="_blank">

        <span class="subtitle">hit me up on the</span>
        <span class="title">Book-Face</span>

      </a>

    </div>


  </div>

</section>

<nav id="arrows">

	<div id="next-btn-region"></div>

	<div id="prev-btn-region"></div>

</nav>

<!-- <section id="about-region" class="container"></section>
 -->
<section id="sidebar-region"></section>