<section id="post-region" class="swiper-container"></section>

<!-- <section class="container">

	<div class="search-colors">

		<h2 class="align-center"><small>Search your favorite color</small></h2>

		<div class="search-colors-region"></div>

	</div>

</section> -->

<section id="menu">

  <div class="menu-items">

    <div class="menu-box about">

      <a href="/about">

        <span class="subtitle">say hello!</span>
        <span class="title">About</span>

      </a>

    </div>

    <div class="menu-box shop">

      <a href="/search/products/in/art/tagged/shop-lbl">

        <span class="subtitle">laybabylay originals</span>
        <span class="title">Shop</span>

      </a>

    </div>

    <div class="menu-box portfolio">

      <a href="/search/posts/tagged/portfolio">

        <span class="subtitle">a sampling of favorites</span>
        <span class="title">Portfolio</span>

      </a>

    </div>

    <div class="menu-box pinterest">

      <a href="https://pinterest.com/laybabylay" target="_blank">

        <span class="subtitle">pin me up, before you go-go</span>
        <span class="title">Pinterest</span>

      </a>

    </div>

    <div class="menu-box instagram">

      <a href="https://instagram.com/laybabylay" target="_blank">

        <span class="subtitle">everyday inspiration</span>
        <span class="title">Instagram</span>

      </a>

    </div>

    <div class="menu-box facebook">

      <a href="https://facebook.com/laybabylay" target="_blank">

        <span class="subtitle">hit me up on the</span>
        <span class="title">Book-Face</span>

      </a>

    </div>


  </div>

</section>

<nav id="arrows">

	<div id="next-btn-region"></div>

	<div id="prev-btn-region"></div>

</nav>

<!-- <section id="about-region" class="container"></section>
 -->
<section id="sidebar-region"></section>