<div class="container">

  <header class="align-center">

  	<h1 class="title"></h1>
  	<h2 class="subtitle"></h2>

  </header>

  <div class="meta">

    <div class="date"></div>

    <div class="color-palette-region"></div>

  </div>

  <div class="content"></div>

  <div class="categories-region"></div>

  <div class="addthis-region">
    <button class="pinterest-button">Pin It</button>
    <button class="tweet-button">Tweet</button>
    <button class="facebook-button">Share on Facebook</button>
  </div>

  <!-- <div class="disqus-region"></div>-->

  <div class="comments-region"></div>

  <div class="related-posts-region"></div>

</div>
