	
	<section id="product">

		<div class="container">

			<div class="product" id="product_data0"></div>

		</div>

	</section>


<div class="row">
		 	
	<div class="span8 offset2">

		<article class="entry">

			<header class="align-center">

				<h1><small><%=post_title%></small></h1>

			</header>

			<div class="align-center">

				<img src="<?php echo get_stylesheet_directory_uri(); ?>/php/timthumb.php?src=<%=product_image%>&w=370&q=95" width="<%=product_image_meta.width%>" height="<%=product_image_meta.height%>" alt="<%=post_title%>">

			</div>

			<div class="entry_palette align-center">

				<% if (meta.product_color) { %>		

					<div class="swatch" style="background-color: <%=meta.product_color%>;"></div>

				<% } %>

			</div>

			<% if (meta.product_description) { %>

				<%=meta.product_description%>

			<% } %>

			<div class="tag_list search_categories align-center">
					
				<span class="section_label">Categories</span>

			</div>

			<div class="align-center">

				<span class="entry_price"><%=meta.product_price%> (est.)</span>

				<div class="product_btns">

					<% if(meta.product_link) { %>

					<a href="<%=meta.product_link%>" class="purchase_btn" target="_blank">Purchase</a>

					<% } %>

				</div>

			</div>

			<div id="addthis_toolbox" class="social_links align-center addthis_toolbox addthis_default_style">

				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_facebook_send"></a> 
				<a class="addthis_button_tweet" tw:via="laybabylay"></a> 
				<a class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				<a class="addthis_counter addthis_pill_style"></a>

			</div>

		</article>

	</div>

</div>

<% if(meta.product_alternates) { %>

	<h2 class="align-center"><small>Suggested Alternates</small></h2>

	<div class="row">

		<div class="span8<% if(product_alternates_count == '1') { %>' offset5'<% } else if(product_alternates_count == '2') { %>' offset4'<% } else if(product_alternates_count == '3') { %>' offset3'<% } else { %>' offset2'<% } %>">

			<div class="product_alternates additional_posts">

				<div class="row">

					<% for(p in product_alternatives) { 

						var alternate = product_alternatives[p];

					%>

					<div class="span2">

						<div class="related-entry">

							<a href="<%=permalink%>">
									
								<img src="<?php echo get_stylesheet_directory_uri(); ?>/php/timthumb.php?src=<%=product_image_url%>&w=<%=product_image_width%>&h=<%=product_image_height%>&q=85" alt="<%=post_title%>">

								<span class="related-title"><%=board.post_title%></span>
							</a>

							<span class="entry_price"><%=product_price%> (est.)</span>

						</div>

					</div>

					<% } %>

				</div>

			</div>

		</div>

	</div>

<% } %>

<% if(meta.product_boards_list) { %>

	<h2 class="align-center"><small>Found in These Boards</small></h2>

	<div class="row">

		<div class="span8<% if(product_boards_count == '1') { %>' offset5'<% } else if(product_boards_count == '2') { %>' offset4'<% } else if(product_boards_count == '3') { %>' offset3'<% } else { %>' offset2'<% } %>">

			<div class="product_boards additional_posts">

				<div class="row">

					<% for(p in product_boards) { 

						var board = product_boards[p];

					%>

					<div class="span2">

						<div class="related-entry">

							<a href="<%=permalink%>">
								
								<img src="<?php echo get_stylesheet_directory_uri(); ?>/php/timthumb.php?src=<%=product_image_url%>&w=<%=product_image_width%>&h=<%=product_image_height%>&q=85" alt="<%= board.post_title %>">

								<span class="related-title"><%=board.post_title%></span>
							</a>

						</div>

					</div>

					<% } %>

				</div>

			</div>

		</div>

	</div>

<% } %>