<div class="modal-dialog product">

  <div class="modal-content">

    <div class="modal-header">
      <button class="close-btn"></button>
      <h1 class="title"></h1>
    </div>

    <div class="modal-body">

      <a href="#" class="image" target="_blank">
        <img src="" alt="">
      </a>

      <!-- <div class="search-colors-region container">

        <div class="search-colors">

          <a class="swatch" style="background-color:#f9f7ed"><div class="tooltip-wrapper">
            <span class="tooltip">
              <span class="color-title">Dover White</span><br>
              <span class="paint-code">SW 6385</span>
            </span>
          </div>
          </a>
          <a class="swatch" style="background-color:#e0d09a"><div class="tooltip-wrapper">
            <span class="tooltip">
              <span class="color-title">Ecru</span><br>
              <span class="paint-code">SW 6135</span>
            </span>
          </div>
          </a>
          <a class="swatch" style="background-color:#3d3629"><div class="tooltip-wrapper">
            <span class="tooltip">
              <span class="color-title">Urbane Bronze</span><br>
              <span class="paint-code">SW 7048</span>
            </span>
          </div>
          </a>

        </div>

      </div> -->

      <p class="vendor"></p>
      <p class="description"></p>

      <h3>Category</h3>
      <div class="categories-region"></div>

      <h3>Tagged</h3>
      <div class="tags-region"></div>

      <!--  <span class="price">(est.)</span> -->


<!--       <h2 class="align-center">Suggested Alternates</h2>

      <div class="product-alternates additional-posts">

        <div class="related-entry">

          <a href="#">
            <img src="">
            <span class="related-title"></span>
          </a>

          <span class="entry_price"></span>

        </div>

      </div> -->

      <h3 class="align-center">Found in these boards</h3>

      <div class="related-posts-region"></div>

    </div>

    <div class="modal-footer">
      <div class="addthis-region">
        <button class="pinterest-button">Pin It</button>
        <button class="tweet-button">Tweet</button>
        <button class="facebook-button">Share on Facebook</button>
      </div>
      <a href="#" class="purchase-link" target="_blank">Purchase</a>
    </div>

  </div>
</div>
