<div class="filter-bar">

  <div class="container">

    <div class="post-types">

      <a href="#" data-type="all" class="hidden-sm filter-btn">All</a>

      <a href="#" data-type="styleboard" class="filter-btn">Style Boards</a>

      <a href="#" data-type="product" class="filter-btn">Products</a>

      <a href="#" data-type="post" class="filter-btn">Posts</a>

      <div class="search-categories-region"></div>

    </div>

    <a href="#" class="color-filters colors-btn">Colors</a>

<!--     <a href="#" class="tag-filters filter-btn">Filters</a>
 -->
  </div>

</div>

<div class="search-tags-region container"></div>

<div class="search-colors-region container"></div>