@import (reference) "variables.less";
@import (reference) "mixins.less";

#header {
  width: 100%;
  height: auto;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 1200;
}

.header {
  background: #fff;
  width: 100%;
  height: 150px;
  position: relative;
  .transition(all .15s cubic-bezier(0.5, 0.3, 0.5, .7));
  .translate3d(0, 0, 0);
  .backface-visibility(visible);

  &.slim {
    .translate3d(0, -90px, 0);
    .transition(all .3s cubic-bezier(0.5, 0.3, 0.5, .7));
    .box-shadow(0 0 50px rgba(0,0,0,0.04));

    h1 {
      .opacity(0);
      -webkit-transition-delay: 0s;
      transition-delay: 0s
    }

    .header__nav {
      .transition(all .3s cubic-bezier(0.5, 0.3, 0.5, .7));
      .translate3d(0, 48px, 0);
    }

    .logo {
      .transition(all .3s cubic-bezier(0.5, 0.3, 0.5, .7));
      .translate3d(0, 78px, 0);
      height: 32px;
    }
  }

  @media (max-width: @screen-small-max) {
    .translate3d(0, -90px, 0);
    .transition(all .3s cubic-bezier(0.5, 0.3, 0.5, .7));
    .box-shadow(0 0 50px rgba(0,0,0,0.04));

    h1 {
      .opacity(0);
      -webkit-transition-delay: 0s;
      transition-delay: 0s
    }

    .header__nav {
      .transition(all .3s cubic-bezier(0.5, 0.3, 0.5, .7));
      .translate3d(0, 48px, 0);
    }

    .logo {
      .transition(all .3s cubic-bezier(0.5, 0.3, 0.5, .7));
      .translate3d(0, 78px, 0);
      height: 32px;
    }
  }

  &__nav {
    // max-width: 900px;
    position: absolute;
    top: calc(50% - 12px);
    left: 0;
    right: 0;
    text-align: center;
    padding: 62px 0 10px;
    z-index: 1;
    .transition(all .15s cubic-bezier(0.5, 0.3, 0.5, .7));
    .translate3d(0, 0, 0);
    .backface-visibility(visible);
  }

  &__nav-item {
    display: inline-block;
    margin: 0 20px;

    @media (min-width: @screen-desktop) {
      margin: 0 30px;
    }

    a {
      text-transform: uppercase;
      color: @black;
      line-height: 20px;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2px;
      position: relative;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;

      @media (min-width: @screen-desktop) {
        font-size: 14px;
      }

      &:hover {
        color: @lbl-pink;
      }
    }

    &--home {
      text-indent: -10000px;
      width: 60px;
      height: 14px;

      @media (min-width: @screen-tablet) {
        width: 160px;
      }

      @media (min-width: @screen-desktop) {
        width: 210px;
      }
    }
  }
}

.navigation-wrapper {
  position: relative;
  font-size: 0;
  width: 100%;
  max-height: 60px;
  z-index: 1000;
  .transition(all .3s linear);

  .search & {
    .box-shadow(none);
  }
}

.logo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  margin: 20px auto;
  width: 60px;
  height: 50px;
  line-height: 110px;
  text-align: center;
  vertical-align: middle;
  .transition(all .15s cubic-bezier(0.5, 0.3, 0.5, .7));
  .translate3d(0, 0, 0);
  .backface-visibility(visible);
  .opacity(1);

  .footer & {
    position: relative;
    float: left;
  }

  @media (min-width: @screen-tablet) {
    width: 180px;
    height: 100px;
  }

  @media (min-width: @screen-desktop) {
    width: 210px;
    height: 110px;
  }

  .search & {
    .translate3d(-75px, -16px, 0);
    .opacity(0);

    @media (max-width: @screen-desktop-max) {
      .translate3d(-30%, -16px, 0);
    }

    @media (max-width: @screen-tablet-max) {
      .translate3d(-55px, -20px, 0);
    }
  }

  &:before {
    .opacity(1);
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 100%;
    height: 30px;
    background-image: url('https://res.cloudinary.com/laybabylay/image/upload/rhino_lt35fu.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;

    @media (min-width: @screen-xsmall) {
      height: 35px;
    }

    @media (min-width: @screen-tablet) {
      left: 0px;
      height: 40px;
    }
  }

  h1 {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    .opacity(0);
    .transition(all .1s linear);
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    background-image: url('https://res.cloudinary.com/laybabylay/image/upload/logo_eurtrt.png');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 80%;

    @media (min-width: @screen-tablet) {
      .opacity(1);
    }

    // &:before {
    //   z-index: -1;
    //   .opacity(1);
    //   .transition(all .3s cubic-bezier(0.455, 0.030, 0.515, 0.955));

    //   .fixed & {
    //     .opacity(0);
    //   }
    // }

    // &:after {
    //   .opacity(0);
    //   top: 0;
    //   left: -90px;
    //   .transition(all .3s cubic-bezier(0.455, 0.030, 0.515, 0.955));

    //   .fixed & {
    //     .opacity(1);
    //   }
    // }
  }
}

.nav-link {
  display: inline-block;
  padding: 0 18px;
  color: #3a3a3a;
  font-weight: bold;
  font-size: 12px;
  height: 62px;
  line-height: 62px;
  text-align: center;
  width: 9.25%;
  vertical-align: middle;
}

.icon-search,
.icon-menu,
.icon-close,
.load-indicator {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  margin: 20px 10px;
  background-repeat: no-repeat;
  background-position-y: -20px;
  background-size: 212px 130px;
}

.icon-search,
.icon-menu,
.icon-close {
  position: relative;

  &:hover {
    background-position-y: 0px;
  }
  &:before {
    content: ' ';
    position: absolute;
    height: 60px;
    width: 50px;
    top: -20px;
    left: -15px;
  }
}

.icon-search,
.icon-close,
.load-indicator {
  position: absolute;
  top: 0;
  right: 0;
}

.icon-search {
  position: absolute;
  background-image: url('https://res.cloudinary.com/laybabylay/image/upload/sprites_lblvio.png');
  background-position-x: -150px;

  .active & {
    display: none;
  }
}

.icon-menu {
  background-image: url('https://res.cloudinary.com/laybabylay/image/upload/sprites_lblvio.png');
  background-position-x: -170px;
}

.icon-close {
  background-image: url('https://res.cloudinary.com/laybabylay/image/upload/sprites_lblvio.png');
  background-position-x: -192px;
  display: none;

  .active & {
    display: inline-block;
  }
}

.load-indicator {
  display: none;
}

.search-cover {
  display: none;
  height: 1000px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
}

#header.search {
  .search-cover {
    display: block;
  }
}

.search-form {
  float: right;
  font-size: 0;
  position: relative;
  width: 78.7%;

  @media (max-width: @screen-tablet-max) {
    width: 87%;
  }

  @media (max-width: @screen-small-max) {
    width: 78%;
  }

  @media (max-width: @screen-xsmall-max) {
    width: 70%;
  }

  @media (min-width: @screen-large-desktop) {
    width: 77.7%;
  }

  input {
    overflow: hidden;
    &:extend(.inline-block);
    vertical-align: middle;
    border: 0;
    background: transparent;
    font-weight: 300;
    padding: 6px 0px 0 0px;
    font-size: 26px;
    width: 100%;
    line-height: 48px;
    height: 48px;
    vertical-align: middle;
    color: #373737;
    font-family: @font-family-serif;
    letter-spacing: 1px;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    .opacity(0);
    .transition(all .2s cubic-bezier(0.5, 0.3, 0.5, .7));
    .translate3d(-30px, 0, 0);
    .backface-visibility(visible);

    @media (max-width: @screen-small-max) {
      .translate3d(6px, 0, 0) !important;
    }

    @media (max-width: @screen-tablet-max) {
      .translate3d(0, 0, 0);
    }

    .search & {
      .translate3d(-120px, 0, 0);

      @media (max-width: @screen-desktop-max) {
        .translate3d(-11%, 0, 0);
      }
      @media (max-width: @screen-tablet-max) {
        .translate3d(0, 0, 0);
      }
    }

    .active & {
      .opacity(1);
    }
  }
}

#navigation {
  overflow: hidden;
  float: right;
  width: 50px;
  vertical-align: top;
  margin-right: -10px;

  @media (max-width: @screen-small-max) {
    width: 40px;
    margin-right: 0px;
  }

  @media (max-width: @screen-tablet-max) {
    margin-left: 0px;
  }

  .right-nav {
    float: right;
    text-align: right;
    padding: 0;
  }

  .sidebar-menu {

  }

  .site-nav {

    a {
      color: @lbl-light-pink;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 2px;
      font-weight: bold;

      &:hover{
        color: @white;
      }
    }
  }

}
