@import (reference) "variables.less";
@import (reference) "mixins.less";

// override
.slick-slide {
  height: auto !important;
}

.postcard {
  padding: 0 15px;
  position: relative;
  opacity: 0;
  .transition(opacity 1s cubic-bezier(0.190, 1.000, 0.220, 1.000));
  // .make-column(1, 1);
  // min-height: 400px;

  // @media (min-width: @screen-small) {
  //   .make-column(1, 3);
  // }

  // @media (min-width: @screen-medium) {
  //   .make-column(1, 4);
  // }

  // @media (min-width: @screen-large) {
  //   .make-column(1, 5);
  // }

  .slick-active & {
    opacity: 1;
  }

  header {
    .transition(opacity .3s cubic-bezier(0.190, 1.000, 0.220, 1.000));
    background: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    padding: 20px 60px;
    margin: 0 30px 30px;
    text-align: center;
    opacity: 0.9;
  }

  &__category, &__link {
    color: @lbl-pink;
    line-height: 20px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    width: 100%;
    position: relative;
    text-transform: uppercase;
  }

  &__category {
    margin-bottom: 10px;
    font-weight: 500;
  }

  &__title {
    color: @gray-darker;
    line-height: 24px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    width: 100%;
    position: relative;
  }

  &__subtitle {
    font-family: @font-family-serif;
    color: @gray-dark;
    font-style: italic;
    letter-spacing: .07rem;
    text-transform: lowercase;
    line-height: 24px;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
  }

  &__image { // img
    width: 100%;

    &--wrapper { // figure
      max-height: 600px;
    }
  }
}