@import (reference) "variables.less";
@import (reference) "mixins.less";

.search {
  padding-top: 160px;
  min-height: 600px;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: @screen-small-max) {
    padding-top: 60px;
  }
}
