.addthis-region {
  // .opacity(0.4);
  font-size: 0;
  text-align: center;
  height: 20px;
  width: 100%;

  button {
    display: inline-block;
    width: 61px;
    height: 20px;
    margin: 0 6px;
    background-color: transparent;
    background-position-y: -50px;
    background-size: 212px 130px;
    background-repeat: no-repeat;
    text-indent: -1000px;
    font-size: 0;

    &.facebook-button {
      background-image: url('https://res.cloudinary.com/laybabylay/image/upload/sprites_lblvio.png');
      background-position-x: -78px;
      background-position-y: -90px;

      &:hover {
        background-position-y: -110px;
      }
    }

    &.tweet-button {
      background-image: url('https://res.cloudinary.com/laybabylay/image/upload/sprites_lblvio.png');
      background-position-x: -139px;
      background-position-y: -90px;

      &:hover {
        background-position-y: -110px;
      }
    }

    &.pinterest-button {
      background-image: url('https://res.cloudinary.com/laybabylay/image/upload/sprites_lblvio.png');
      background-position-x: -79px;

      &:hover {
        background-position-y: -70px;
      }
    }
  }

  img {
    width: auto;
  }

  &:hover {
    // .opacity(1);
  }
}
