RewriteEngine On
RewriteBase /

#RewriteCond %{HTTP_HOST} !^laybabylay.com$ [NC]
#RewriteRule ^(.*)$ http://laybabylay.com/$1 [L,R=301]

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(api) [NC]
RewriteRule . /index.php [L]


# END WordPress
